<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mercado liebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/themes.css" />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <link rel="stylesheet" href="/css/styles-desktop.css" />

    <script
      src="https://kit.fontawesome.com/a6f3bf090e.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="amarillo p">
      <section class="top-nav">
        <a href="/" class="logo">
          <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        </a>
        <div class="search-bar">
          <form action="/" method="POST">
            <input
              type="text"
              name="lupa-busqueda"
              placeholder="Buscar productos, marcas y más"
            />
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <p class="leyenda text-center p-vertical">
          <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </section>

      <nav class="navbar oculto-mobile">
        <ul class="navbar-izq">
          <li class="margen-d"><a href="">Ofertas</a></li>
          <li class="margen-d"><a href="">Tiendas oficiales</a></li>
          <li class="margen-d"><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="navbar-der">
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="far fa-address-card"></i
            ></a>
          </li>
          <li class="margen-i">
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li class="margen-i">
            <a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>

      <div class="burger-menu oculto-not-mobile celeste">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <section>
      <img src="/images/img-home-banner.jpg" class="w-100" alt="" />
    </section>

    <main class="contenedor">
      <section class="p-vertical">
        <h2 class="fuente-titulares">Basado en tu ultima visita</h2>
        <section class="contenedor-articulo">
          <div class="wrapper">
            <article class="producto separacion-baja-10 shadow">
              <img
                src="/images/img-cafetera-moulinex.jpg"
                class="w-100"
                alt=""
                margin-bot
              />
              <div class="descripcion-articulo">
                <i class="fas fa-truck truck-icon"></i>
                <p class="precios fuente-mediana">$6.770</p>
                <p class="descuentos fuente-mediana verde">40% OFF</p>
                <h3
                  class="
                    descripciones
                    separacion-alta-10
                    fuente-grande
                    oculto-mobile
                  "
                >
                  Cafetera Moulinex
                </h3>
              </div>
            </article>
          </div>

          <div class="wrapper">
            <article class="producto separacion-baja-10 shadow">
              <img
                src="/images/img-macbook-pro-2019.jpg"
                class="w-100"
                alt=""
              />
              <div class="descripcion-articulo">
                <i class="fas fa-truck truck-icon"></i>
                <p class="precios fuente-mediana">$230.000</p>
                <p class="descuentos fuente-mediana verde">20% OFF</p>
                <h3
                  class="
                    descripciones
                    separacion-alta-10
                    fuente-grande
                    oculto-mobile
                  "
                >
                  MacBook Pro 2019
                </h3>
              </div>
            </article>
          </div>

          <div class="wrapper">
            <article class="producto separacion-baja-10 shadow">
              <img
                src="/images/img-samsung-galaxy-s10.jpg"
                class="w-100"
                alt=""
              />
              <div class="descripcion-articulo">
                <i class="fas fa-truck truck-icon"></i>
                <p class="precios fuente-mediana">$70.500</p>
                <p class="descuentos fuente-mediana verde">10% OFF</p>
                <h3
                  class="
                    descripciones
                    separacion-alta-10
                    fuente-grande
                    oculto-mobile
                  "
                >
                  Samsung Galaxy S10
                </h3>
              </div>
            </article>
          </div>

          <div class="wrapper">
            <article class="producto separacion-baja-10 shadow">
              <img
                src="/images/img-tv-samsung-smart.jpg"
                class="w-100"
                alt=""
              />
              <div class="descripcion-articulo">
                <i class="fas fa-truck truck-icon"></i>
                <p class="precios fuente-mediana">$23.200</p>
                <p class="descuentos fuente-mediana verde">5% OFF</p>
                <h3
                  class="
                    descripciones
                    separacion-alta-10
                    fuente-grande
                    oculto-mobile
                  "
                >
                  SmartTv Samsung 43
                </h3>
              </div>
            </article>
          </div>
        </section>
      </section>

      <section class="p-vertical">
        <h2 class="fuente-titulares">Sección de ofertas</h2>
        <section class="contenedor-articulo">
          <div class="wrapper">
            <article class="producto separacion-baja-10 shadow">
              <img
                src="/images/img-cafetera-moulinex.jpg"
                class="w-100"
                alt=""
              />
              <div class="descripcion-articulo">
                <i class="fas fa-truck truck-icon"></i>
                <p class="precios fuente-mediana">$6.770</p>
                <p class="descuentos fuente-mediana verde">40% OFF</p>
                <h3
                  class="
                    descripciones
                    separacion-alta-10
                    fuente-grande
                    oculto-mobile
                  "
                >
                  Cafetera Moulinex
                </h3>
              </div>
            </article>
          </div>

          <div class="wrapper">
            <article class="producto separacion-baja-10 shadow">
              <img
                src="/images/img-macbook-pro-2019.jpg"
                class="w-100"
                alt=""
              />
              <div class="descripcion-articulo">
                <i class="fas fa-truck truck-icon"></i>
                <p class="precios fuente-mediana">$230.000</p>
                <p class="descuentos fuente-mediana verde">20% OFF</p>
                <h3
                  class="
                    descripciones
                    separacion-alta-10
                    fuente-grande
                    oculto-mobile
                  "
                >
                  MacBook Pro 2019
                </h3>
              </div>
            </article>
          </div>

          <div class="wrapper">
            <article class="producto separacion-baja-10 shadow">
              <img
                src="/images/img-samsung-galaxy-s10.jpg"
                class="w-100"
                alt=""
              />
              <div class="descripcion-articulo">
                <i class="fas fa-truck truck-icon"></i>
                <p class="precios fuente-mediana">$70.500</p>
                <p class="descuentos fuente-mediana verde">10% OFF</p>
                <h3
                  class="
                    descripciones
                    separacion-alta-10
                    fuente-grande
                    oculto-mobile
                  "
                >
                  Samsung Galaxy S10
                </h3>
              </div>
            </article>
          </div>

          <div class="wrapper">
            <article class="producto separacion-baja-10 shadow">
              <img
                src="/images/img-tv-samsung-smart.jpg"
                class="w-100"
                alt=""
              />
              <div class="descripcion-articulo">
                <i class="fas fa-truck truck-icon"></i>
                <p class="precios fuente-mediana">$23.200</p>
                <p class="descuentos fuente-mediana verde">5% OFF</p>
                <h3
                  class="
                    descripciones
                    separacion-alta-10
                    fuente-grande
                    oculto-mobile
                  "
                >
                  SmartTv Samsung 43
                </h3>
              </div>
            </article>
          </div>
        </section>
      </section>
    </main>

    <footer class="text-center">
      <div class="separacion-baja-10">
        <i class="fas fa-credit-card"></i>
        <h5 class="fuente-mediana">Pagá con tarjeta o en efectivo</h5>
        <p class="fuente-chica">
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="separacion-baja-10">
        <i class="fas fa-gift"></i>
        <h5 class="fuente-mediana">Envío gratis desde $ 2.500</h5>
        <p class="fuente-chica">
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="separacion-baja-10">
        <i class="fas fa-user-shield"></i>
        <h5 class="fuente-mediana">Seguridad, de principio a fin</h5>
        <p class="fuente-chica">
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>
      <div class="separacion-baja-10">
        <h5 class="fuente-chica">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
      </div>
    </footer>
  </body>
</html>
