<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mercado liebre login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/themes.css" />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <link rel="stylesheet" href="/css/styles-desktop.css" />

    <script
      src="https://kit.fontawesome.com/a6f3bf090e.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <form action="/" method="POST" class="crear-formulario">
      <div class="control-formulario">
        <label class="hide" for="usuario">Nombre de usuario:</label>
        <input type="text" name="usuario" placeholder="JRR10" class="control" />
        <span class="mensaje-error">El usuario no existe</span>
      </div>
      <div class="control-formulario">
        <label class="hide" for="contrasena">Contraseña:</label>
        <input type="password" name="contrasena" class="control" />
        <span class="mensaje-error">La contraseña es errónea</span>
      </div>
      <div>
        <button type="submit" class="boton-formulario">Enviar</button>
      </div>
    </form>
  </body>
</html>
