<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mercado liebre registro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/themes.css" />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <link rel="stylesheet" href="/css/styles-desktop.css" />

    <script
      src="https://kit.fontawesome.com/a6f3bf090e.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <form action="/register" method="POST" class="crear-formulario">
    <div class="control-formulario">
      <label class="hide">Nombre y apellido:</label>
      <input
        type="text"
        name="nombre"
        placeholder="Nombre y apellido"
        class="control"
      />
    </div>
    <div class="control-formulario">
      <label class="hide">Nombre de usuario:</label>
      <input type="text" name="usuario" placeholder="Nombre de usuario" class="control" />
    </div>
    <div class="control-formulario">
      <label>Fecha de nacimiento:</label>
      <input
        type="date"
        name="fechaNacimiento"
        placeholder="mm/dd/yyyy"
        class="control"
      />
    </div>
    <div class="control-formulario">
      <label class="hide">Domicilio:</label>
      <input
        type="text"
        name="domicilio"
        placeholder="Domicilio"
        class="control"
      />
    </div>
    <div class="control-formulario">
      <label>Perfil del usuario:</label>
      <select name="perfilUsuario" class="control">
        <option value="comprar">Comprar</option>
        <option value="vender">Vender</option>
      </select>
    </div>
    <div class="control-formulario">
      <label>Categorías de interés:</label>
      <div class="categoria">
        <input type="checkbox" id="electro" name="electro" value="electro" />
        <label for="electro">Electro</label><br />
      </div>
      <div class="categoria">
        <input type="checkbox" id="moda" name="moda" value="moda" />
        <label for="moda">Moda</label><br />
      </div>
      <div class="categoria">
        <input type="checkbox" id="hogar" name="hogar" value="hogar" />
        <label for="hogar">Hogar</label><br />
      </div>

      <div class="categoria">
        <input
        type="checkbox"
        id="jugueteria"
        name="jugueteria"
        value="jugueteria"
        />
        <label for="jugueteria">Jugueteria</label><br />
      </div>

      <div class="categoria">
        <input type="checkbox" id="vidaSana" name="vidaSana" value="vidaSana" />
        <label for="vidaSana">Vida sana</label><br />
      </div>
    </div>
    <div class="control-formulario">
      <label>Foto de usuario:</label>
      <input type="file" name="fotoUsuario" accept=".jpg" class="control">
      </input>
    </div>
    <div class="control-formulario">
      <label class="hide">Contraseña:</label>
      <input type="password" name="contrasena" placeholder="Contraseña" class="control" />
    </div>
    <div class="control-formulario">
      <label class="hide">Confirmar contraseña:</label>
      <input type="password" name="contrasena" placeholder="Confirmar contraseña" class="control" />
    </div>
    <div>
    <button type="reset" class="boton-formulario">Borrar</button>
    <button type="submit" class="boton-formulario">Guardar</button>
    </div>
  </body>
</html>